<div class="accordion">
    <input class="accordion-tab" type="checkbox" id="objectTable" />
    <label class="accordion-label bg-blue" for="objectTable">Tabla de Objetos</label>
    <div class="accordion-content">
        <table>
            <thead>
                <tr>
                    <th>Indice</th>
                    <th>Texto</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in objects_table.items() %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value[0]}}</td>
                    <td>{{value[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="accordion">
    <input class="accordion-tab" type="checkbox" id="semanticTable" />
    <label class="accordion-label bg-blue" for="semanticTable">Red Semantica</label>
    <div class="accordion-content">
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Objeto</th>
                    <th>Relacion</th>
                    <th>Objeto</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in semantic_network.items() %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value[0]}}</td>
                    <td>{{value[1]}}</td>
                    <td>{{value[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="accordion">
    <input class="accordion-tab" type="checkbox" id="image" />
    <label class="accordion-label bg-blue" for="image">Ilustracion de Red Semantica</label>
    <div class="accordion-content">
        <pre class="mermaid" id="mermaid">
            {{mermaid_code | safe}}
        </pre>
    </div>
</div>

<div class="accordion">
    <input class="accordion-tab" type="checkbox" id="prolog" />
    <label class="accordion-label bg-blue" for="prolog">Prolog</label>
    <div class="accordion-content">
        <code>
            {{ code }}
        </code>
    </div>
</div>

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: "forest" });
    await mermaid.run({
        nodes: [document.getElementById("mermaid")]
    })
</script>