{% include "semantic_network_info.html" %}

<div class="accordion">
    <input class="accordion-tab" type="checkbox" id="prolog" />
    <label class="accordion-label bg-blue" for="prolog">Prolog</label>
    <div class="accordion-content" style="padding: 0 1em; max-height: none;">
        <code id="code">
            {{ code }}
        </code>
    </div>
</div>

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: "forest" });
    await mermaid.run({
        nodes: [document.getElementById("mermaid")]
    });
</script>

<script type="module">
    import { codeToHtml } from 'https://esm.sh/shiki@1.0.0'

    const codeElement = document.getElementById("code");
    codeElement.innerHTML = await codeToHtml(codeElement.innerHTML, {
        lang: "prolog",
        theme: "rose-pine"
    });
</script>