{% extends "base.html" %}

{% block title %}Arbol Genealogico{% endblock %}

{% block content %}
<h1>Arbol Genealogico</h1>
<div class="accordion">
    <input class="accordion-tab" type="checkbox" id="form" checked />
    <label class="accordion-label bg-blue" for="form">Texto</label>
    <div class="accordion-content">
        <form hx-get="/api/family_tree" hx-target="#response-div" hx-swap="innerHTML" hx-target-5*="#errors">
            <div style="display: flex; flex-direction: column; gap: 8px;">
                <span style="font-weight: 600;">Texto a analizar:</span>
                <textarea class="nb-input default" style="width: 100%; text-align: start !important; height: 8em;"
                    placeholder="Escribe aqui el texto..." name="semantic_text"></textarea>
                <button class="nb-button green"> Generar</button>
            </div>
        </form>
    </div>
</div>

<div id="response-div" style="display: flex; flex-direction: column; gap: 1em;"></div>

{% endblock %}